#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: 1000px;
  }

  @media screen and (max-width: 768px) {
    .compcanvas {
      display: none;
    }

    .mainsec {
      height: auto !important;
      padding-bottom: 500px;
    }
}

