.compcanvas {
    margin-bottom: -40px;
    padding-top: 00px;
}


.compwrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .compcanvas {
        display: none;
    }
}